{{ 'ftr-bgd-img.css' | asset_url | stylesheet_tag }}
<div class="bg-container color-{{ section.settings.color_scheme }}">
  <div class="footer-bg-image-container {% if section.settings.ft_mobile_image != blank %} desktop-image{% endif %} page-width">
    {% if section.settings.ft_image != blank %}
    <img src="{{ section.settings.ft_image |  img_url: 'master' }}" alt="{{ section.settings.ft_image.alt | escape }}">
    {% endif %}
    {% if section.settings.ft_mobile_image != blank %}
       <img class="mob-img" src="{{ section.settings.ft_mobile_image |  img_url: 'master' }}" alt="{{ section.settings.ft_image.alt | escape }}">
    {% endif %}  
  </div>
</div>
{% schema %}
  {
    "name": "Background Image footer",
    "tag": "section",
    "class": "bgd-ftr-img-sec",
    "settings": [
      {
  "type": "image_picker",
  "id": "ft_image",
  "label": "Image"
}, {
  "type": "image_picker",
  "id": "ft_mobile_image",
  "label": "Mobile Image"
},{
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
    ],
    "presets": [
      {
        "name": "Background Image footer",
        "settings": {
        }
      }
    ]
  }
{% endschema %}